{% extends "layout.html" %}
{% block content %}
<table class="ui fixed striped sortable celled table">
    <thead>
    <tr>
        <th>Player Name</th>
        {% for week in timetable %}
        <th> {{week}}</th>
        {% endfor %}
    </tr>

    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{player.player.name}}</td>
        {% for week in timetable %}
        <td data-sort-value="">
            {% if (data[player.player.usertag][week]) %}
                <i class="empty star icon"></i>{{ data[player.player.usertag][week].crowns or '-' }}
                (<i class="gift icon"></i>{{ data[player.player.usertag][week].donations or '-' }})
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
